{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {%for sejour in sejours %}
	<li>
		ID : {{sejour.id}}<br/>
		Date de début : {{sejour.dateDebut|date('d-m-y')}}<br/>
		Date de fin : {{sejour.dateFin|date('d-m-y')}}<br/>
		ID Chambre : {{sejour.id_Chambre}}<br/>
		ID Lit : {{sejour.id_Lit}}<br/> 
		<a href="{{path('modificationSejour',{id:sejour.id})}}">modifier</a>
		<a href="{{path('suppressionSejour',{id:sejour.id})}}">supprimer</a>
	</li>
	{%else%}
	Pas de séjour trouvé
	{%endfor%}
</div>
{% endblock %}
