{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {%for traitement in traitements %}
	<li>
		ID : {{traitement.id}}<br/>
		Date de début : {{traitement.date|date('d-m-y')}}<br/>
		Durée du traitement : {{traitement.duree}}<br/>
		Nom du patient : {{traitement.NomPatient}}<br/> 
		<a href="{{path('modificationTraitement',{id:traitement.id})}}">modifier</a>
		<a href="{{path('suppressionTraitement',{id:traitement.id})}}">supprimer</a>
	</li>
	{%else%}
	Pas d'adhérent trouvé
	{%endfor%}
</div>
{% endblock %}
