<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <style>
        #menu{
            display: flex;
            color : blue;
            list-style-type: none; 
            justify-content : space-around;
            font-size: 1.3em;
        }
        a:visited{
            color: #831BFF;
        }
        a:hover{
            color : #2D02C2;
        }
        a{
            color: #831BFF;
        }
    </style>
    <body>
        <header>
            <ul id="menu">
                <li><a href="{{path('listepatients')}}">Gestion des séjours</a></li>
                <li><a href="{{path('listepatients')}}">Ajouter un séjour</a></li>
                <li><a href="{{path('listepatients')}}">Mettre fin à un séjour</a></li>
                <li><a href="{{path('listepatients')}}">Gestion des patients</a></li>
                <li><a href="{{path('ajouterPatient')}}">Ajouter un patient</a></li>
            </ul>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
