{% extends 'base.html.twig' %}

{% block title %}Medicament{%endblock %}

{% block body %}

{% endblock %}
{% block test %}

<ul>
{%for uneIndic in indications%}
			<li>Indication numéro {{uneIndic.id}} - {{uneIndic.medicament.libelle}} - {{uneIndic.posologie}} - Traitement numéro {{uneIndic.traitement.id}} <a href="{{path('modifIndication',{id:uneIndic.id})}}">modifier</a> 
			<a href="{{path('supprimerIndication',{id:uneIndic.id})}}">supprimer</a></li>
	{%else%}
	Pas de d'indication trouvé
	{%endfor%}
</ul>

{% endblock %}

