{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px;}
</style>

<div class="example-wrapper">
	<h2> Liste des sejours </h2>
    {%for sejour in lesSejours %}
	
	<li>
		ID : {{sejour.id}} 
		
		 
		<a style="color: #3BAAFF" href="{{path('modifierSejour',{id:sejour.id})}}">modifier</a>
		<a style="color: red" href="{{path('supprimerSejour',{id:sejour.id})}}">supprimer</a>
		
		{% if sejour.dateSortie == null %}
			<a style="color: purple" href="{{path('finSejour',{id:sejour.id})}}">Mettre fin au séjour</a>
		{% endif %}
		</br>
		Date d'arrivee : {{sejour.dateArrivee|date("d/m/Y")}}<br/>
			{% if sejour.dateSortie == null %}
     			Ce séjour n'est pas terminé
     		{% else %}
  				Date de sortie : {{sejour.dateSortie|date("d/m/Y")}}
			{% endif %}
		</br>
		Service : {{sejour.lit.chambre.service.libelle}}
		</br>
	  Ce séjour est affecté au patient <a style="color: #1E8F37;" href="{{path('SejourDuPatient',{id:sejour.patient.id})}}">{{sejour.patient.nom}} {{sejour.patient.prenom}}</a>   
	  </br>		
	</li>
	</br>
	{%else%}
	Aucun sejour n'est renseigné
	</br>
	{%endfor%}
	
</div>
{% endblock %}
